{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2">

      <div class="jumbotron" style="background-color: rgba(245, 245, 245, 0.4);">
          <h3>Comments</h3>
      </div>

      <div class="container">
          <div class="row">
              <button class="btn btn-info"><a href='/write-comment/{{post.id}}'>Write a comment</a></button>
          </div>
          <hr>
          <p>{{macro.displayComments(comments)}}</p>
      </div>

    </div>
  </div>
</div>
{% endblock %}